[submodule "site-lisp/consult-bibtex"]
	path = site-lisp/consult-bibtex
	url = https://github.com/mohkale/consult-bibtex.git
[submodule "site-lisp/sly-stepper"]
	path = site-lisp/sly-stepper
	url = https://github.com/joaotavora/sly-stepper.git
[submodule "site-lisp/sly-quicklisp"]
	path = site-lisp/sly-quicklisp
	url = https://github.com/joaotavora/sly-quicklisp.git
[submodule "site-lisp/sly-macrostep"]
	path = site-lisp/sly-macrostep
	url = https://github.com/joaotavora/sly-macrostep.git
[submodule "site-lisp/nerd-fonts"]
	path = site-lisp/nerd-fonts
	url = https://github.com/twlz0ne/nerd-fonts.el.git
[submodule "site-lisp/tempel-collection"]
	path = site-lisp/tempel-collection
	url = https://github.com/alexforsale/tempel-collection
[submodule "site-lisp/consult-web"]
	path = site-lisp/consult-web
	url = git@github.com:armindarvish/consult-web.git
[submodule "site-lisp/org-protocol-capture-html"]
	path = site-lisp/org-protocol-capture-html
	url = https://github.com/alphapapa/org-protocol-capture-html
[submodule "site-lisp/copilot"]
	path = site-lisp/copilot
	url = https://github.com/copilot-emacs/copilot.el.git
	branch = main
